<input class="search" type="text" id="search"  #search (focus)="onFocus()" (blur)="onBlur()">

<div class="panel" [ngClass]="{'show': providers.length > 0 && showPanel}">
<div>
  <div id="select" class="list-company"
  infiniteScroll
  [infiniteScrollDistance]="3"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
  [fromRoot]="true">
    <div class="option" *ngFor="let provider of providers" (click)="selectProvider(provider)">
      <div>{{ provider?.name }}</div>
    </div>
  </div>
</div>
</div>
