
.select-autocomplete {
    position: relative;
}
.container-list {
    max-height: 100px;
    background: #c2beb6;
    width: 100%;
    overflow-y: scroll;
}

.panel {
    display: none;
}
.panel.show {
    display: block;
}

.option {
    cursor: pointer;
}

.option:hover {
    background: #ddd;
}

.search {
    width: 100%;
}

.label-message.error {
    color: orangered;
}