
<input class="search" type="text" id="search"  #search (focus)="onFocus()" (blur)="onBlur()">
<br><br>

<div class="panel" [ngClass]="{'show': providers.length > 0 && showPanel}"
  infiniteScroll
  [infiniteScrollDistance]="3"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
  [infiniteScrollContainer]="selector"
  [fromRoot]="true"
>
<div>
  <div id="select" class="list-company" size="3">
    <div class="option" *ngFor="let provider of providers" (click)="selectItem(provider)">
      <div>{{ provider?.name }}</div>
    </div>
  </div>
</div>
</div>
